<div class="card" style="margin:30px;">
  <div class="card-header" style="text-align: center;">
    <h2>Chat</h2>
    <span>{{chatRecepient}}</span>
  </div>
  <div class="card-body">
    <form autocomplete="off" [formGroup]="form">
      <div class="row" style="margin-right:0;margin-left:0;">
        <div style="height:400px;background-color:powderblue;padding:20px;min-height:200px;overflow:scroll;" class="col-sm-12"
          #chatDiv>
          <div *ngFor="let msg of messageArray">
            <span class="senderClass" class="messageClass"> <strong>{{ msg.sender }} </strong>: {{ msg.message }} </span><br><br>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-11">
          <input id="messageBox" formControlName="message" class="form-control" type="text" name="message" [(ngModel)]="message" placeholder="Message">
          <span *ngIf="form.controls['message'].hasError('required')" class="text-danger">please enter message</span>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-primary btn-sm" style="float:right;" (click)="sendMessage()"> Send </button>
        </div>
      </div>
    </form>
  </div>
</div>