<div class="container" style="width:300px;height:500px;margin-top:100px;">
  <div class="card" style="box-shadow:10px 15px 10px black;">
    <div class="card-header" style="text-align:center;"><span style="font-weight:bold;font-size: 25px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Sign
        In</span></div>
    <div class="card-body">
      <form [formGroup]="form" autocomplete="off" (ngSubmit)="loginUser()">
        <div class="form-group">
          <input id="email" class="form-control" type="email" [(ngModel)]="user.email" formControlName="email"
            placeholder="Enter email">
          <div *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" style="font-size:15px;"
            class="text-danger">Please
            enter email</div>
          <div *ngIf="form.controls['email'].hasError('pattern') && form.controls['email'].touched" style="font-size:15px;" class="text-danger">Please
            enter valid email</div>
        </div>

        <div class="form-group">
          <input id="password" class="form-control" type="password" [(ngModel)]="user.password" formControlName="password"
            placeholder="Enter password">
          <div style="font-size:15px;" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="text-danger">Please
            enter password</div>
        </div>
        <br>
        <div class="form-group" style="text-align:center;">
          <button type="submit" style="width:100px;" class="btn btn-primary"> Login </button>
        </div>
      </form>
    </div>
    <div class="card-footer" style="text-align:center;">
      <p>Register here ...</p>
      <a [routerLink]="['/register']" class="btn btn-info"> Register </a>
    </div>
  </div>
</div>