<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">LoginApp</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/']"><i class="fa fa-home"></i> Home </a>
        <a class="nav-link" [routerLink]="['/post']"><i class="fa fa-leaf"></i> Post </a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/login']"><i class="fa fa-lock"></i> Login </a>
        <a class="nav-link" [routerLink]="['/register']"><i class="fa fa-user"></i> Sign up </a>
      </div>
    </div>
  </nav>

  <br><br><br><br>

  <router-outlet></router-outlet>
</div>