<div class="container" style="width:300px;height:500px;margin-top:100px;">
  <div class="card" style="box-shadow:10px 15px 10px black;">
    <div class="card-header" style="text-align:center;"><span style="font-weight:bold;font-size: 25px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Update
        Password</span></div>
    <div class="card-body">
      <form [formGroup]="form" autocomplete="off" (ngSubmit)="updateUser()">
        <div class="form-group">
          <label for="email"><b>Email:</b></label>
          <input id="email" readonly class="form-control" type="email" [(ngModel)]="password.email" formControlName="email">
        </div>
        <hr>
        <div class="form-group">
          <input class="form-control" type="password" [(ngModel)]="password.current" formControlName="currPassword"
            placeholder="Enter current password">
          <div *ngIf="form.controls['currPassword'].hasError('required') && form.controls['currPassword'].touched"
            style="font-size:15px;" class="text-danger">Please enter current password</div>
        </div>
        <div class="form-group">
          <input class="form-control" type="password" [(ngModel)]="password.new" formControlName="newPassword"
            placeholder="Enter new password">
          <div *ngIf="form.controls['newPassword'].hasError('required') && form.controls['newPassword'].touched" style="font-size:15px;"
            class="text-danger">Please enter new password</div>
          <div *ngIf="form.controls['newPassword'].hasError('required') && form.controls['newPassword'].touched" style="font-size:15px;"
            class="text-danger">Password must be of 8 characters</div>
        </div>
        <br>
        <div class="form-group" style="text-align:center;">
          <button type="button" class="btn btn-default" (click)="cancelUpdate()"> Cancel </button> | 
          <button type="submit" style="width:100px;" class="btn btn-primary"> Update </button>
        </div>
      </form>
    </div>
  </div>
</div>